/*
 Document   : style
 Created on : 01/07/2012, 18:40:48
 Author     : REGI-MÓVEL
 Description: Purpose of the stylesheet follows.

 Access the site: www.lgtinfo.com.br
 TODO customize this sample style
 Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/



/**************************************
**************    HADER  *************/

.header{
    background: url("../img/headerSlideShow/2.jpg")no-repeat center top;
    min-height: 300px;
    display: block;
    text-align: center;
}
.header .logo{
    margin-bottom: 6em;
}
.header .menu .navbar{
    max-width: 1117px;
    margin: 0 auto;
}
.header .menu .navbar{
    margin-bottom: 0;
    text-align: center;
    display: block;
}
.header .menu .navbar .navbar-inner{
    background-color: transparent;
    background-image: none;
    border: none;
    box-shadow: none;
}


/*---- Pesquisa ----*/

/*-------------- Barra gradiente superior ----------------*/
.barraDePesquisa{
    padding: 5px;
    background-color: #E2C49D;
    text-align: center;
}
.barraDePesquisa .form-search{
    margin: 0 auto;
    margin-bottom: 0;
}

.gradiente_pesquisa {
    width: 100%;        
    background: linear-gradient(#C8A25B , transparent) !important;
    text-align: center;
    padding: 3px;
}
.gradiente_pesquisa span {
    font-style: oblique;
    font-size: 1.0em;
    color: black;
    padding: 5px;
    display: block;
    margin-bottom: 10px;
    font-weight: bold;  
}

.gradiente_pesquisa strong {
    font-style: oblique;
    font-size: 20px;
    color: white;
    text-shadow: 0 0 2px #000;
}

//Grupo com todos os resultados da pesquisa
.pesquisar{
    text-align: center;
}

.result-group{
    text-align: center;
    display: block;
}

.resultado_pesquisa {
    max-width: 270px;
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 30px;
}
.resultado_pesquisa h5{
    margin-bottom: 0;
}
.resultado_pesquisa span{
    font-size: 0.9em;
}

#paginacao{

    float: bottom;
    margin-top: 20px;
}




