/*
 Document   : style
 Created on : 01/07/2012, 18:40:48
 Author     : REGI-MÓVEL
 Description: Purpose of the stylesheet follows.

 Access the site: www.lgtinfo.com.br
 TODO customize this sample style
 Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/


/**************************************
**************    PAGINAS  *************/

.paginas{
    background-image: url("../img/fundoPaginas.jpg");

}

.docesItem, 
.salgadoItem,.lancamentoItem{
    margin-top: 1.5em;
}


/*----  Comum a todas as páginas -----*/

.span9 article .span8 h1{
    font-size: 1.2em;
    margin: 7px 0;
    line-height: normal;
}

.relacionadosItem {
    text-align: center;   
    margin-bottom: 15px;
    display: inline-block;
}
.relacionados{
    margin-bottom: 10px;
}
.relacionados h1{
    font-size: 1.5em;
    margin: 0;
    line-height: normal;

    line-height: 30px;
}
.relacionadosItem h3{
    font-size: 1.1em;
    margin: 10px;
    margin-bottom: 3px;
    line-height: normal;
}
.produtoItem{
    margin-bottom: 7px;
    float: left;
    margin-right: 15px;
}
.detalhesProdutoItem h1{
    font-size: 1.5em;
    margin: 5px 0;
    line-height: normal;
}

/*-------------- Barra gradiente superior ----------------*/
.barraDePesquisa{
    padding: 5px;
    background-color: #E2C49D;
    text-align: center;
}
.barraDePesquisa .form-search{
    margin: 0 auto;
    margin-bottom: 0;
}

.gradiente_pesquisa {
    width: 100%;        
    background: linear-gradient(#C8A25B , transparent) !important;
    text-align: center;
    min-height: 3em;
}
.gradiente_pesquisa span {
    font-style: oblique;
    font-size: 1.0em;
    color: black;
    padding: 5px;
    display: block;
    margin-bottom: 10px;
    font-weight: bold;  
}

.gradiente_pesquisa strong {
    font-style: oblique;
    font-size: 20px;
    color: white;
    text-shadow: 0 0 2px #000;
}






/**************************************
**************  HOME  *************/

.home .noticias{

}
.home .noticias hr{
    margin: 2px 0;
}

.home .tituloNoticias, .home .tituloChamada{
    color: #333;
    margin: 0;
    font-size: 1.4em;
    font-weight: bold;
}
.home .noticiaItem{
    padding: 3px;
    border: 1px solid transparent;
}
.home .noticiaItem .span8{
    padding-left: 5px;
}
.home .noticiaItem h1{
    font-size: 1.1em;
    margin: 0;
    line-height: normal;
}

.home .noticiaItem p{
    font-size: 0.9em;
    margin-bottom: 0;
    line-height: 15px;
}

.home .noticiaItem img{
    margin-right: 7px;
    max-height: 70px;
}

/*.home .noticiaItem:hover{
    background: rgba(240,185,104,0.65);
    background: -moz-linear-gradient(left, rgba(240,185,104,0.65) 0%, rgba(250,224,185,0.6) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(240,185,104,0.65)), color-stop(100%, rgba(250,224,185,0.6)));
    background: -webkit-linear-gradient(left, rgba(240,185,104,0.65) 0%, rgba(250,224,185,0.6) 100%);
    background: -o-linear-gradient(left, rgba(240,185,104,0.65) 0%, rgba(250,224,185,0.6) 100%);
    background: -ms-linear-gradient(left, rgba(240,185,104,0.65) 0%, rgba(250,224,185,0.6) 100%);
    background: linear-gradient(to right, rgba(240,185,104,0.65) 0%, rgba(250,224,185,0.6) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0b968', endColorstr='#fae0b9', GradientType=1 );
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 1px solid #d9940b;
}*/

.home .noticias hr{
    margin: 0.5em;
}


/***  Depoimntos dos clientes - DESTAQUE *******/

.home .depoimentos .span6 h1{
    font-size: 1.7em;
    line-height: normal;
} 

.home .depoimentos .span6 p{
    text-align: justify;
}

/**************************************
**************  PESQUISAR  *************/

//Grupo com todos os resultados da pesquisa
.pesquisar{
    text-align: center;
}

.result-group{
    text-align: center;
    display: block;
}

.resultado_pesquisa {
    max-width: 260px;
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 30px;
}
.resultado_pesquisa h5{
    margin-bottom: 0;
}
.resultado_pesquisa span{
    font-size: 0.9em;
}

#paginacao{
    float: bottom;
    margin-top: 20px;
}


/**************************************
**************  PORTFÓLIO  ************/

.portfolio .portfolioLista .span6 h1{
    font-size: 1.3em;
    line-height: normal; 
}
.portfolio .portfolioLista p{
    text-align: justify;
}

/**************************************
**************  LANÇAMENTOS  *************/

.lancamentos{

}
.resultado_lancamento {
    max-width: 370px;
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 30px;
}
.resultado_lancamento h5{
    margin-bottom: 0;
}
.resultado_lancamento span{
    font-size: 0.9em;
}

.lancamentos ul .active{
    background-color: #faa732;
    background-image: -moz-linear-gradient(center top , #fbb450, #f89406);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #ffffff;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.lancamentos ul .active a{
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    background: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.1em;
}
.lancamentos article p{
    text-align: justify;
}



/**************************************
**************  EVENTOS  *************/

.eventosLista{}

.eventosItem h1{
    font-size: 1.5em;
    margin: 0;
}
.eventosItem .carousel{
    margin-bottom: 5px;
}




/**************************************
**************  CONTATO  *************/

.contato{

}
.contato span{
    background: #fff;

}
.contato h5{
    font-size: 1.5em;
    font-weight: normal;
    line-height: 1.5em;;
}
.contato .form-actions{
    text-align: right;
}
.contato form label{
    margin-top: 10px;
    font-weight: bold;
}
.contato .endereco{
    margin-top: 3em;
    font-size: 1.2em;
}

