/*
 Document   : style
 Created on : 01/07/2012, 18:40:48
 Author     : REGI-MÓVEL
 Description: Purpose of the stylesheet follows.

 Access the site: www.lgtinfo.com.br
 TODO customize this sample style
 Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/



/**************************************
**************    HADER  *************/

