/*
 Document   : style
 Created on : 01/07/2012, 18:40:48
 Author     : REGI-MÓVEL
 Description: Purpose of the stylesheet follows.

 Access the site: www.lgtinfo.com.br
 TODO customize this sample style
 Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/



/**************************************
**************    HADER  *************/

/*---- Pesquisa ----*/

/*-------------- Barra gradiente superior ----------------*/
.gradiente_pesquisa {
    width: 100%;        
    background: linear-gradient(#DCC396 , transparent);
}
.gradiente_pesquisa font {
    font-style: oblique;
    font-size: 1.3em;
    color: black;
    padding: 15px;
    display: block;
    margin-bottom: 10px;
    font-weight: bold;  
}

.gradiente_pesquisa strong {
    font-style: oblique;
    font-size: 20px;
    color: white;
    text-shadow: 0 0 2px #000;
}

//Grupo com todos os resultados da pesquisa
.pesquisar{
    text-align: center;
}

.result-group{
    text-align: center;
    display: block;
}

.resultado_pesquisa {
    max-width: 270px;
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 30px;
}
.resultado_pesquisa h5{
    margin-bottom: 0;
}
.resultado_pesquisa span{
    font-size: 0.9em;
}

#paginacao{

    float: bottom;
    margin-top: 20px;
}




